build: [
  ["dune" "subst"] {dev}
  [ "env"
    "PLATFORM=PLATFORM_DESKTOP_SDL"
    {raylib-options-sdl2:installed}
    "dune"
    "build"
    "-p"
    name
    "-j"
    jobs
    "@install"
    "@runtest" {with-test}
    "@doc" {with-doc}
  ]
]
available: [arch != "arm32" & arch != "ppc64"]
x-ci-accept-failures: [
  "centos-7" # C compiler is too old
  "oraclelinux-7" # C compiler is too old
]
